<!DOCTYPE html>
<html lang="en">
<head>
    <title>LOTR Login</title>
    <link rel="icon" href="{{ url_for('static', filename='ring.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>User Login</h1>
        <p>To access the rest of this website, you must log in</p>
        {% if message %}
            <p class="error">{{ message }}</p>
        {% endif %}
        <form method="POST">
            <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            </div>
            <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            </div>
            <div>
            <input type="submit" class="submit" value="Login">
            </div>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
        <!--For any reason, the user could also return to the home page-->
        <a href="{{ url_for('home') }}">Home</a>
    </div>
</html>